<div id="icons">
    <img onclick="location.href='/'" src="/all/logo.png" alt="MNDList" class="MNDListIcon">
    <i class="fa-solid fa-arrow-up-from-bracket expandIcon"></i>
</div>

<ul id="links">
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/settings">Settings</a></li>
</ul>

<p>&copy; All rights reserved</p>