<div id="icons">
    <img src="/all/logo.png" alt="MNDList" class="MNDListIcon">
    <i class="fa-solid fa-arrow-up-from-bracket expandIcon"></i>
</div>
<div id="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>