<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/contact/contact.css">
</head>
<body>
    <nav>
        <%- include('partials/nav') %>
    </nav>
    <main>
        <h1>Contact me</h1>

        <div id="container">
            <div class="card" onclick="location.href='https://github.com/ValyMnDul'">
                <i class="fa-brands fa-github"></i>
            </div>

            <div class="card" onclick="location.href='https://www.instagram.com/valymnd/'">
                <i class="fa-brands fa-instagram"></i>
            </div>

            <div class="card" onclick="location.href='https://linkedin.com/in/mîndrilă-vasile-49a989321'">
                <i class="fa-brands fa-linkedin"></i>
            </div>

            <div class="card" onclick="location.href='https://steamcommunity.com/id/valymnd/'">
                <i class="fa-brands fa-steam"></i>
            </div>

            <div class="card" onclick="window.open('https://discord.com/channels/@me')">
                <i class="fa-brands fa-discord"></i>
            </div>

            <div class="card" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=mindrilavasilevalentin@gmail.com&su=MNDCode&body=What do you want to tell me?', '_blank')">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>
    </main>
</body>
</html> 

 
