<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/dashboard/dashboard.css">
</head>
<body>
    <nav>
        <%- include('partials/nav') %>
    </nav>
    <main >
        <h1>My Tasks</h1>
        <div id="textAndButton">
            <textarea id="text" placeholder="Type your task here!"></textarea>
            <button id="addTaskButton" onclick="addTask()">Add Task</button>
        </div>
        <div id="main">

        </div>
        
    </main>
    <script src="/dashboard/dashboard.js"></script>
</body>
</html>
