<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/home/home.css">
</head>
<body>
    <nav>
        <%- include('partials/nav') %>
    </nav>
    <main>
        
        <img src="/all/title.png" alt="MNDList">
        <h2 id="moto">Never forget what you have to do!</h2>
        <div id="container">
            <div class="card" onclick="location.href='/dashboard'">
                Get started
            </div>
            <div class="card" onclick="location.href='/learn_more'">
                Learn more
            </div>
            <div class="card" onclick="location.href='/contact'">
                Contact
            </div>
        </div>

        <h3 id="rateText">Rate us</h3>
        <div class="stars">
            <i class="fa-solid fa-star star" id="star5" onclick="star(5)"></i>
            <i class="fa-solid fa-star star" id="star4" onclick="star(4)"></i>
            <i class="fa-solid fa-star star" id="star3" onclick="star(3)"></i>
            <i class="fa-solid fa-star star" id="star2" onclick="star(2)"></i>
            <i class="fa-solid fa-star star" id="star1" onclick="star(1)"></i>
        </div>
    </main>

</body>
<script src="/home/home.js"></script>
</html>
