<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/home/home.css">
</head>
<body>
    <nav>
        <%- include('partials/nav') %>
    </nav>
    <main>
        
        <img src="/all/title.png" alt="MNDList">
        <p>Never forget what you have to do.</p>
        <div id="container">
            <div class="card">
                Learn more
            </div>
            <div class="card" onclick="location.href='/dashboard'">
                Get started
            </div>
        </div>
    </main>

</body>
<script src="/home/home.js"></script>
</html>
