<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/settings/settings.css">
</head>
<body>
    <nav>
        <%- include('partials/nav') %>
    </nav>
    <main>
        
        <h1>There's no setting bro.</h1>

    </main>

</body>
</html>
