main > h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color:#dee2e6;
    text-align: center;
}

#textAndButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    row-gap: 20px;
}

textarea
{
    outline: none;
    width: 700px;
    height: 80px;
    background-color: #dee2e6;
    color: #212529;
    font-size: 2.3em;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}


#addTaskButton
{
    width: 100px;
    height: 80px;
    background-color: #dee2e6;
    color: #212529;
    font-size: 1.5em;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
#main
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    
}


@media screen and (max-width:1120px)
{
    textarea
    {
        width: 550px;
    }
}

@media screen and (max-width:950px)
{
    textarea
    {
        width: 400px;
        height: 60px;
    }

    #addTaskButton
    {
        height: 60px;
        width: 90px;
    }
}

@media screen and (max-width:590px)
{
    textarea
    {
        width: 300px;
        height: 50px;
        font-size: 1em;
    }

    #addTaskButton
    {
        height: 50px;
        width: 70px;
        font-size: 1.2em;
    }
}

@media screen and (max-width:470px)
{
    textarea
    {
        width: 200px;
        height: 35px;
        font-size: 1em;
    }
    
}
