nav
{
    padding: 10px;
    user-select: none;
    width:300px;
    height: 100vh;
    background-color: #212529;
    user-select: none;
}

#icons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.MNDListIcon
{
    width: 30px;
    cursor: pointer;
}

.expandIcon
{
    font-size: 30px;
    transform: rotate(270deg);
    color: #dee2e6;
    cursor: pointer;
}

#links
{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#links > li
{
    margin: 0;
    margin: 12px 0;
    border: solid 3px #dee2e6;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

#links > li > a
{
    font-size: 1.6em;
    color:#dee2e6;
    font-weight: 400;
}

p
{
    color:#dee2e6;
    font-size: 1.2em;
    text-align: center;
    margin-top: 500px;
}

@media screen and (max-width:1000px)
{
    #links > li > a
    {
        font-size: 1em;
    }

}

@media screen and (max-width:360px)
{
    #links > li > a
    {
        font-size: 0.8em;
    }

}

@media screen and (max-height:830px)
{
    p 
    {
        margin-top: 450px;
    }
}

@media screen and (max-height:787px)
{
    p 
    {
        margin-top: 400px;
    }
}

@media screen and (max-height:735px)
{
    p 
    {
        margin-top: 350px;
    }
}

@media screen and (max-height:685px)
{
    p 
    {
        margin-top: 300px;
    }
}

@media screen and (max-height:635px)
{
    p 
    {
        margin-top: 250px;
    }
}

@media screen and (max-height:585px)
{
    p 
    {
        margin-top: 200px;
    }
}